<div *ngIf="loading" class="flex justify-center items-center h-screen">
  <mat-spinner class="spinner" diameter="100" strokeWidth="10"></mat-spinner>
</div>

<div *ngIf="!loading">
  <div>
    <h1 class="text-center text-3xl font-bold">
      Pessoas desaparecidas
    </h1>
  </div>

  <div class="flex justify-center items-center my-5 flex-col md:flex-row">
    <input (change)="filterResults(filter.value)" class="w-[400px] rounded-xl	 border-2 pl-3 mr-5" type="text"
      placeholder="Busque através do nome da pessoa desaparecida" #filter />
    <button class="mt-3 md:mt-0" type="button" (click)="filterResults(filter.value)">Buscar</button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 rounded overflow-hidden shadow-lg">
        <mat-card *ngFor="let person of filteredPeopleList" class="card">
          <img class="w-[220px] h-[220px] bg-cover" [src]="person.urlFoto || unknownPersonImage" alt="Person photo">
          <mat-card-content>
            <mat-card-title>{{person.nome}}</mat-card-title>
            <mat-chip-listbox>
              <mat-chip-option>Idade: {{person.idade}}</mat-chip-option>
              <mat-chip-option>Sexo: {{person.sexo}}</mat-chip-option>
            </mat-chip-listbox>
            <mat-card-actions class="share-content">
              <button>Compartilhar</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
  </div>

  <mat-paginator #paginator
    [length]="people.totalElements"
    [pageSize]="people.size"
    (page)="getLostPersonData($event)"
    aria-label="Select page"></mat-paginator>
</div>
