<div>
  <div>
    <h1 class="text-center text-3xl font-bold">
      Pessoas desaparecidas
    </h1>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 rounded overflow-hidden shadow-lg">
    <div *ngFor="let person of people.content">
      <mat-card class="example-card">
        <img class="w-[220px] h-[220px] bg-cover" [src]="person.urlFoto" alt="Person photo">
        <mat-card-content>
          <mat-card-title>{{person.nome}}</mat-card-title>
          <p class="text-gray-700 text-base">
          {{person.ultimaOcorrencia.ocorrenciaEntrevDesapDTO.informacao}} A mesma utilizava um(a)
          {{person.ultimaOcorrencia.ocorrenciaEntrevDesapDTO.vestimentasDesaparecido.toLowerCase()}}.
        </p>
        </mat-card-content>
        <mat-chip-listbox>
          <mat-chip-option>Idade: {{person.idade}}</mat-chip-option>
          <mat-chip-option>Sexo: {{person.sexo}}</mat-chip-option>
          <mat-chip-option>Ult. Local: {{person.ultimaOcorrencia.localDesaparecimentoConcat}}</mat-chip-option>
        </mat-chip-listbox>
        <mat-card-actions>
          <button class="border-solid">Compartilhar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
